body {
    margin: 0;
    padding: 0;
    background:rgb(189,252,200);
    font-size: 14px;
    font-family: '微软雅黑', '宋体', sans-serif;
    color: #231F20;
    overflow: auto
}

a {
    color: #000;
    font-size: 14px;
}

#main {
    width: 100%;
}

#wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 650px;
    margin-top: 0px;
}

#text {
    width: 400px;
    height: 515px;
    left: 60px;
    top: 0px;
    position: absolute;
}

#code {
    display: none;
    font-size: 16px;
}

#clock-box {
    position: absolute;
    left: 60px;
    top: 500px;
    font-size: 28px;
    display: none;
}

#clock-box a {
    font-size: 28px;
    text-decoration: none;
}

#clock {
    margin-left: 48px;
}

#clock .digit {
    font-size: 64px;
}

#canvas2 {
    margin: 0 auto;
    width: 1100px;
    height: 650px;
}

#error {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    display: none;
}

#head {
    margin:10px;
    font-weight:bold;
    font-size:45px;
    visibility:hidden;
}

#instruction {
    font-size:20px;
    visibility:hidden;
}

.hand {
    cursor: pointer;
}

.say {
    margin-left: 5px;
}

.space {
    margin-right: 150px;
}

.trick {
    visibility:hidden;
}
